{% load i18n %}
{{ formset.management_form }}
<table class="composer" data-prefix="{{ formset.prefix }}">
    <thead>
        <tr>
            <th colspan="3">
                {% translate "Groups" %}
            </th>
            <th>
                {% translate "Attribute" %}
            </th>
            <th>
                {% translate "Operation" %}
            </th>
            <th>
                {% translate "Value" %}
            </th>
            <th>
                {% translate "Delete?" %}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="template_row">
            <td class="group_cell --or">
                <div>
                    <button type="button">OR</button>
                </div>
            </td>
            <td class="group_cell --and">
                <div>
                    <button type="button">AND</button>
                </div>
            </td>
            {% with formset.empty_form as form %}
            <td class="group_cell --decorator">
                <div class="--state --hidden" data-state="AND">
                    {{ form.group_state }}
                </div>
            </td>
            <td>
                {{ form.attribute }}
            </td>
            <td>
                {{ form.operator }}
            </td>
            <td>
                {{ form.value }}
            </td>
            {% endwith %}
            <td class="--button_holder delete_button">
                <button type="button">x</button>
            </td>
        </tr>
        <tr class="adder_row">
            <td colspan="7" class="--button_holder">
                <button type="button">+</button>
            </td>
        </tr>
    </tbody>
</table>
